body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(52, 52, 54);
    letter-spacing: 2px;
    max-height: 95%;
    padding-top: 5.5rem;
    
}
main{
    padding-bottom: 20px;
}
h1{
    text-align: center;
    padding: 0;
    margin-top: 40px;   
    font-size: 2.0rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.733);
}

h2{
    text-align: center;
    padding: 0; 
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.733);
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 0;  
}
tr{
    letter-spacing: 1;
    font-size: 0.75rem;
}
td  a {
    color: #007bff;
    text-decoration: underline;
    background-color: transparent;
}
.about-text{
    margin-top: 20px;
    color: rgb(241, 240, 240);
    text-align: justify;
}
.update{
    text-align: center;
    color: rgb(241, 240, 240);
    margin-bottom: 35px;
    font-size: 0.8rem;
    font-style: italic;
}
span{
    justify-content: center;
    text-align: justify;
}

.container-fluid{
    padding: 0 15px 0 15px;
    margin-top: -20px;
    justify-content: center;
    width: 100%;

}
nav{
    background-color: #242524;
    height: 5rem;
    
}
.navbar-brand{
    font-size: 2.2rem;
    padding: 0 15px 0 15px;
    font-family: 'Poppins', sans-serif;
}
.navbar-dark .navbar-brand{
    color: rgb(241, 240, 240);
}
nav a{
    font-weight: 700;
    letter-spacing: 2px;
    color:  rgba(255, 255, 255, 0.733);
}
nav a:hover{
    color: rgb(241, 240, 240);
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.case-card{
    padding: 10px 10px 0 0;
}
.shadow{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/****************************************************************
*styling shadows
****************************************************************/
.shadow:before, .shadow:after{
  position:absolute;
  content:"";
  bottom:12px;left:15px;top:80%;
  width:45%;
  background: #212529;;
  z-index:-1;
  -webkit-box-shadow: 0 20px 15px #111111;
  -moz-box-shadow: 0 20px 15px #111111;
  box-shadow: 0 20px 15px #111111;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.shadow:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}
.card-body h5{
    padding-top: 5%;
}

.card-title{
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
}

.card-text{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.card-icon{
    text-align: center;
    margin-top: 10px;
    font-size: 2.4rem;
}
.total-cases{
    background-color: #4c92bb;
}
.total-deaths{
    background-color:#de354c;
}
.total-recovered{
    background-color: #61b15a;
}
.total-cases {
    position:relative;
}    
.total-active{
    background-color: #deb135;
}
#myTable_wrapper{
    margin-top: 50px;
    margin-right: 10px;
    font: 0.9em sans-serif;
    overflow: auto;
}
.flag {
    width: 30px;
    height: 20px;
    object-fit: fill;
    margin-right: 5px;

}
.rounded {
    border-radius: .25rem;
}
table.dataTable tbody tr {
    background-color: rgb(241, 240, 240);
    letter-spacing: 2px;
}
.dataTables_info{
    letter-spacing: 2px;
}
tr{
    background-color: rgb(241, 240, 240);
}
td, tr{
    text-align: center;
}
.heading{
    text-align: center;
}
.country, .name{
    text-align: justify;
    
}

.death{
    background-color:#de354c;
    text-align: center;
    color: #fff;
}
.actives{
    background-color:#deb135;
}
.recovered{
    background-color: #61b15a;
    color: #fff;
}

.dataTables_wrapper .dataTables_length, select{
    color: #fff;
    margin-bottom: 0px;
    
}
.dataTables_wrapper .dataTables_length select {
    background-color:  rgb(52, 52, 54);
    
}
.dataTables_wrapper .dataTables_filter, input{
    color: #fff;
    
}
.dataTables_wrapper .dataTables_filter input {
    padding: 10px;
    margin-left: 5px;
    /* margin-right: 5px; */
}
#myTable_length{
    margin-top: 10px;
}
input{
    width: 18rem;
    padding: 2px;
    outline: none;
    border: transparent;
}
input:hover{
    outline: none;
    -webkit-box-shadow: 0 10px 6px -4px  rgb(20, 20, 20);
     -moz-box-shadow: 0 10px 6px -4px rgb(20, 20, 20);
          box-shadow: 0 10px 6px -4px rgb(20, 20, 20);
}
input:focus{
    outline: 0;
    outline-color: transparent;
    outline-style: none;
    border: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color:  rgb(241, 240, 240) !important;
    border-radius: 5px;
    border:transparent;
    margin-right: 5px;
    margin-left: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border-radius: 5px;
    color: rgb(241, 240, 240);
    border:transparent; 
}
.dataTables_wrapper .dataTables_info{
    color: rgb(241, 240, 240);
}
.dataTables_info{
    margin-top: 10px;
}
.dataTables_paginate{
    margin-top: 10px;
}
.ellipsis{
    color: rgb(241, 240, 240);;
}
#myChart{
    background-color:rgb(241, 240, 240);
}

.hiddenData{
    display: none;
}
.hidden{
    display: none;
}
.footer{
    margin-top: 50px;
    background-color:  #222422;
    text-align: center;
    width: 100%;
}
.footer > p{
    padding: 40px;
    color: rgb(241, 240, 240);
    font-size: 0.9rem;
}
/* Video Icon */
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video__icon {
  position: absolute;
  width: 50px;
  top: 100px; }
  .video__icon .circle--outer {
    border: 1px solid #de354c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
            animation: circle 2s ease-in-out infinite; }
  .video__icon .circle--inner {
    background:  #de354c;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }
    .video__icon .circle--inner:after {
      content: '';
      display: block;
      border: 2px solid  #de354c;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      top: -4px;
      left: -4px;
      position: absolute;
      opacity: .8;
      -webkit-animation: circle 2s ease-in-out .2s infinite;
              animation: circle 2s ease-in-out .2s infinite; }
  .video__icon p {
    color: rgb(241, 240, 240);
    text-align: center;
    font-size: 0.8rem; }

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }

@keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
  
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    } }

@media (max-width: 768px){
    h1{
        font-size: 1.6rem;
    }
    .navbar-brand{
        font-size: 2.0rem;
    }
    .navbar-dark .navbar-brand{
        color: rgb(241, 240, 240);
    }
    .video__icon {
        display: none;
    }
    
    .shadow:before, .shadow:after{
        box-shadow: none;
        background-color: transparent;
    }
}